In [13]:
import pandas as pd
import numpy as np

In [14]:
data_location = "C:\\Users\\feder\\Documents\\Trabajo Practico 1 - Inmobiliaria Properati\\properati.csv"
data = pd.read_csv(data_location)
data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [16]:
data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [17]:
data.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [18]:
data.index

RangeIndex(start=0, stop=121220, step=1)

In [19]:
data.lat.iloc[3]

-34.6477969

In [20]:
#Genere el split entre lat-lon
split_latlon = data["lat-lon"].str.split(',',expand = True)
split_latlon.head(1)

             0            1
0  -34.6618237  -58.5088387

In [21]:
# Las columnas las-lon y lat y lon por separaado son iguales pero se generan ciertas diferencias por "redondeo".
#Genere nuevas columnas a partir del split. Conviene utilizar las columnas divididas por que la informacion de latitud y longitud en las columnas que vienen divididas por default estan en distintos formatos.
data[["lat1","lon1"]] = data["lat-lon"].str.split(',',expand = True)
data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,lat1,lon1
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,-34.6618237,-58.5088387
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...,-34.9038831,-57.9643295
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,-34.6522615,-58.5229825

In [22]:
data["lat-lon"].head(1)

0    -34.6618237,-58.5088387
Name: lat-lon, dtype: object

In [23]:
#separe las 3 columnas con latitud y longitud
data_LatLong = data.loc[:, ["lat-lon","lat","lon"]]
data_LatLong.head(3)

                   lat-lon        lat        lon
0  -34.6618237,-58.5088387 -34.661824 -58.508839
1  -34.9038831,-57.9643295 -34.903883 -57.964330
2  -34.6522615,-58.5229825 -34.652262 -58.522982

In [24]:
#separe las 3 columnas con latitud y longitud y sume las dos nuevas que genere.
data_LatLong = data.loc[:, ["lat-lon","lat","lon","lat1","lon1"]]
data_LatLong.sample(10)

,lat-lon,lat,lon,lat1,lon1
5096,"-34.6045148,-58.4611725",-34.604515,-58.461173,-34.6045148,-58.4611725
49385,"-34.4000949196,-58.6544013671",-34.400095,-58.654401,-34.4000949196,-58.6544013671
89718,NaN,NaN,NaN,NaN,NaN
86460,NaN,NaN,NaN,NaN,NaN
115554,"-31.30456,-64.290495",-31.304560,-64.290495,-31.30456,-64.290495
118347,"-32.9616239,-60.6479195",-32.961624,-60.647919,-32.9616239,-60.6479195
18362,"-38.0046431,-57.5454812",-38.004643,-57.545481,-38.0046431,-57.5454812
49930,"-31.31973,-64.2967606",-31.319730,-64.296761,-31.31973,-64.2967606
3822,"-34.66550064,-58.66954041",-34.665501,-58.669540,-34.66550064,-58.66954041
103737,NaN,NaN,NaN,NaN,NaN

In [25]:
data.isnull().sum() / data.shape[0]

Unnamed: 0                    0.000000
operation                     0.000000
property_type                 0.000000
place_name                    0.000190
place_with_parent_names       0.000000
country_name                  0.000000
state_name                    0.000000
geonames_id                   0.154405
lat-lon                       0.425260
lat                           0.425260
lon                           0.425260
price                         0.168372
currency                      0.168380
price_aprox_local_currency    0.168372
price_aprox_usd               0.168372
surface_total_in_m2           0.324435
surface_covered_in_m2         0.164222
price_usd_per_m2              0.433947
price_per_m2                  0.276869
floor                         0.934837
rooms                         0.609058
expenses                      0.882346
properati_url                 0.000000
description                   0.000016
title                         0.000000
image_thumbnail               0.025672
lat1                          0.425260
lon1                          0.425260
dtype: float64

In [2]:
# Podria ser que las inmobiliarias cuando no tienen acceso a los datos reales de las coordenadas las llenen con valores centrales de cada barrio? Chequeo si hay repeticion de coordenadas?

In [26]:
#Todos estos valores se repiten. Ponemos un maximo posible con tal de utilizarlos?
Repeated_coordenates= data.groupby(['lat', 'lon']).size()
Repeated_coordenates[Repeated_coordenates > 1].sort_values(ascending=False).head(10)

lat         lon
-34.402644  -58.668478    312
-34.400140  -58.649850    271
-34.642868  -58.437660    259
-34.425087  -58.579659    224
-34.589546  -58.397364    156
-34.571150  -58.423297    142
-31.420083  -64.188776    132
-34.562084  -58.456686    116
-34.425087  -58.579659    115
-38.416097  -63.616672    109
dtype: int64

In [31]:
Repeated_coordenates.value_counts().sum()

47203

In [23]:
#-34.562084 -58.456686 es cabildo y juramento

In [23]:
# Blvd. Chico, Rincón de Milberg, Provincia de Buenos Aires

In [36]:
#No pude continuar analisis. Necesitaria separar los valores repetidos comparandolos con otra columna(sea descripcion) o tomar los valores repetidos hasta 5 inclusive como para poner un filtro.

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A97242FD60>